header{
  background: rgba(255,255,255,0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.6;
  z-index: 1;
  background-color: lightgrey;

}
header .logo{
  order: 1;
  background-color: lightgrey;
  height: 60px;
  width: 200px;
  z-index: 2;
  align-items: center;

}
.logo img{
  height: 100%;
  width: 100%;
}

.Mybio{
  color: #455262;
  margin-left: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 150%;
  background-color: rgba(200,200,200, 0.3);
  width: 600px;
  height: 400px;
}

nav{
  order: 2;
  background: rgba(255,255,255,0.9);
  width: 300px;
  background-color: lightgrey;


  /*opacity: 0.3;*/

}
body{
  background-color: lightgrey;
  font-family: monospace;
  font-size: 16px;
}
  .main_content{

    background: linear-gradient(#EECDA3,#EF629F);
height: 900px;
font-family: 'Josefin Sans', sans-serif;

}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


li a {
  display: block;
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;

}

li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 2s;

}



.logo img:hover {
    background-color: rgba(255, 254, 255, 0.9);
    transition: 2s;
}


/*.content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}*/
.biography{

  color: white;
}
.biography h1{
  margin-left: 30px;
  color:rgb(175, 8, 55);

}



ooter {
width : 100%;
height : 80px;
background : lightpink;
opacity : 0.8999999761581420898437;
display : flex;
flex-direction : row-reverse;
justify-content : space-between;
}
footer .icon {
order : 2;
}
footer .icon img {
width : 40px;
height : 40px;
color : black;
margin-top : 20px;
}
footer .copyright {
color : black;
margin-top : 13px;
}
