  header{
    background: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.7;
    z-index: 1;
    background-color: lightgrey;
    /*adding style for the header portion which includes logo and navigation bar*/
  }
  header .logo{
    order: 1;
    background-color: lightgrey;
    height: 60px;
    width: 200px;
    z-index: 2;
    align-items: center;
    /*adding style to logo in the top left side of the homepage*/
  }

  .logo img{
    height: 100%;
    width: 100%;
    /*giving height and width to the logo*/
  }
  .logo img:hover {
      background-color: rgba(255, 254, 255, 0.9);
      transition: 2s;
      /*adding transition while hovering the logo portion*/
  }


  nav{
    order: 2;
    background: rgba(255,255,255,0.7);
    width: 300px;
    background-color: lightgrey;
    /*adding styles to the nav bar*/



  }
  body{
    background-color: lightgrey;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    /*adding styles to the main body*/

  }
  .main_content{
    background-image: url("../images/home.jpg");
    background-size: cover;
    height:750px;
    /*adding styles to the main content of the home page*/


  }
  h1{
    color: rgb(175, 8, 55);
    margin-left: 30px;
    margin-top: 120px;
    font-weight: bold;
    /*adding styles my name which is denoted by h1*/



  }
  .info{
    color: #455262;
    margin-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 150%;
    background-color: rgba(200,200,200, 0.3);
    width: 400px;
    /*adding styles to the info section*/
  }


  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      /*adding style to the navigation*/
  }


  li a {
    display: block;
      color: red;
      font-weight: bold;
      text-align: center;
      padding: 20px 22px;
      text-decoration: none;
      /*adding style to the navigation title*/
  }

  li a:hover {
      background-color: rgba(0, 0, 0, 0.9);
      transition: 2s;
/*adding transition while hovering the navigation titles*/
  }

  footer {
width : 100%;
height : 80px;
background-color : rgba(200, 200, 200, 0.7);
opacity : 0.89999997615814208984375;
display : flex;
flex-direction : row-reverse;
justify-content : space-between;
}
/*adding all the necessary styles to the footer section*/
footer .icon {
order : 2;
}
/*giving flex order to the icon in the footer*/

footer .icon img {
width : 40px;
height : 40px;
color : black;
margin-top : 20px;
}
/*adding styles to the images of the icons*/

footer .copyright {
color : black;
margin-top : 20px;
}
/*adding styles to the copyright section in the footer*/
